.navbarContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.link{
    width:8rem;
}
.linksContainer{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

