.logo{
    width: 5rem;
    padding: .5em;
}

.navbarContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.linksContainer{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
}

